<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Add user</title>
  <link rel="stylesheet" href="input_form.css">
</head>
<body>
<h2>Add new user</h2>

  <form action="#" th:action="@{/add_user}" method="post" th:object="${user}">

    <label>User name: </label>
    <input type="text" th:field="*{name}"><br/>

    <label>Race:</label>
    <select id="Race" th:field="*{race}" required>
      <option th:each="race : ${raceList}" th:value="${race.race_id}" th:text="${race.raceName}"></option>
    </select><br>

    <label>Profession:</label>
    <select id="Profession" th:field="*{profession}" required>
      <option th:each="profession : ${professionList}" th:value="${profession.profession_id}" th:text="${profession.professionName}"></option>
    </select><br>

    <label>Level: </label>
    <input type="number" th:field="*{level}"><br/>


    <label>B-day (YYYY-MM-DD): </label>
    <input type="date" th:field="*{dateOfBirth}"><br/>

    <label>Date of registration (YYYY-MM-DD):</label>
    <input type="date" th:field="*{dateOfRegistration}"><br/>

    <label>Status:</label>
    <input type="radio" th:field="*{status}" value="active" />active
    <input type="radio" th:field="*{status}" value="banned" />banned<br/>

  <button type="submit">Save information</button>


</form>
</body>
</html>